<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" style="margin-top: 15px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span style="font-size: large; margin-right: 7px">Outside Temp:</span>
      <span style="color:royalblue; font-size: large"><b>{{vm.weather.currently.temperature}}°F</b></span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div ng-repeat="busArrivalInfo in vm.busPrediction.prd">
            <i class="fa fa-bus fa-2x">-</i><span style="font-size: large"><b>{{busArrivalInfo.des[0]}} - {{busArrivalInfo.prdtm[0]}}</b></span>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12">
          <button type="button" style="width: 75px; height: 75px;" ng-click="vm.setDefaultScene()"
                  class="btn btn-success btn-lg">
            <i class="fa fa-power-off fa-3x"></i>
          </button>
          <button type="button" style="width: 75px; height: 75px; margin-left: 10px;" ng-click="vm.turnOffLights()"
                  class="btn btn-lg btn-danger">
            <i class="fa fa-power-off fa-3x"></i>
          </button>
          <button type="button" style="width: 82px; height: 75px; margin-left: 10px;" ng-click="vm.turnOnAllLights()"
                  class="btn btn-primary btn-lg"><i class="fa fa-sun-o fa-3x"></i>
          </button>
          <button type="button" style="width: 75px; height: 75px; margin-left: 10px;" ng-click="vm.setKitchenDowns()"
                  class="btn btn-primary btn-lg"><i class="fa fa-cutlery fa-3x"></i>
          </button>
          <button type="button" style="width: 120px; height: 75px; margin-left: 10px;" ng-click="vm.setAllKitchenLights()"
                  class="btn btn-primary btn-lg"><i class="fa fa-cutlery fa-2x">+</i><i class="fa fa-laptop fa-2x"></i>
          </button>
          <button type="button" style="width: 87px; height: 75px; margin-left: 10px;" ng-click="vm.setMovieMode()"
                  class="btn btn-primary btn-lg"><i class="fa fa-television fa-3x"></i>
          </button>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12">
          <button type="button" style="width: 75px; height: 75px; background-color: red;" ng-click="vm.setCockpitRed()"
                  class="btn btn-success btn-lg">
          </button>
          <button type="button" style="width: 75px; height: 75px; margin-left: 10px; background-color: mediumpurple;"
                  ng-click="vm.setDeadMouse()" class="btn btn-lg">
          </button>
          <button type="button" style="width: 82px; height: 75px; margin-left: 10px;"
                  ng-click="vm.setColorLoop()" class="btn btn-primary btn-lg">  <i class="fa fa-circle-o-notch fa-3x"></i>
          </button>
          <button type="button" style="width: 75px; height: 75px; margin-left: 10px; background-color: coral"
                  ng-click="vm.setSofaBoard()" class="btn btn-primary btn-lg">
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12">
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
